<!DOCTYPE html>
<html>
<head>
  <title>OptimacmsOptions</title>
  <%= stylesheet_link_tag    "optimacms_options/application", media: "all" %>
  <%= javascript_include_tag "optimacms_options/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
